<div class="govuk-grid-row" style="margin: 0; padding: 0;">
    {% block header %}
        {% include "limited-partners/partials/banners/header-banner.njk" %}
    {% endblock %}

    <div class="govuk-width-container">
        {% block banner %}
            {% include "limited-partners/partials/banners/beta-banner.njk" %}
        {% endblock %}

        {% block signout %}
            {% include "limited-partners/partials/nav/signout-link.njk" %}
        {% endblock %}

        {% block back %}
        {% if not confirmationScreen %}
            {% include "limited-partners/partials/nav/back-link.njk" %}
        {% endif %}    
        {% endblock %}

        {% block lang %}
            {% include "limited-partners/partials/nav/language-selection.njk" %}
        {% endblock %}
    </div>
</div>