<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3 align-center">
    <h2 class="govuk-heading-s govuk-!-margin-0">
      Share capital
    </h2>
  </div>
  <div  style="display: flex; border-bottom: 0" class="govuk-!-padding-1">
    <dl class="govuk-summary-list govuk-!-margin-4 govuk-summary-list--last-child-no-border-bottom block">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Class of shares
        </dt>
        <dd class="govuk-summary-list__value">
          {{ statementOfCapital.classOfShares }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Currency</dt>
        <dd class="govuk-summary-list__value">
          {{ statementOfCapital.currency }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Number of shares
        </dt>
        <dd class="govuk-summary-list__value">
          {{ statementOfCapital.numberAllotted }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Value of each share
        </dt>
        <dd class="govuk-summary-list__value">
          {{ statementOfCapital.aggregateNominalValue }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total value
        </dt>
        <dd class="govuk-summary-list__value rtl">
          {{ +statementOfCapital.numberAllotted * +statementOfCapital.aggregateNominalValue }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Rights attached to this share type
        </dt>
        <dd class="govuk-summary-list__value rtl">
          {{ statementOfCapital.prescribedParticulars }}
        </dd>
      </div>
    </dl>
  </div>
</div>

<div class="govuk-summary-card govuk-!-margin-bottom-4">
  <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3 align-center">
    <h2 class="govuk-heading-s govuk-!-margin-0">
      Totals
    </h2>
  </div>
  <div style="display: flex; border-bottom: 0" class="govuk-!-padding-1">
    <dl class="govuk-summary-list govuk-!-margin-3 block">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Currency</dt>
        <dd class="govuk-summary-list__value">
          {{ statementOfCapital.currency }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total number of shares
        </dt>
        <dd class="govuk-summary-list__value">
          {{ statementOfCapital.totalNumberOfShares }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total value of all shares
        </dt>
        <dd class="govuk-summary-list__value rtl">
          {{ statementOfCapital.totalAggregateNominalValue }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Total amount unpaid for all shares
        </dt>
        <dd class="govuk-summary-list__value rtl">
          {{ statementOfCapital.totalAmountUnpaidForCurrency }}
        </dd>
      </div>
    </dl>
  </div>
</div>
