{% extends "ch-node-utils/templates/layouts/template.njk" %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block head %}
    {% include "limited-partners/partials/meta_header.njk" %}
{% endblock %}

{% block header %}
    {% include "limited-partners/partials/header.njk" %}
{% endblock %}

{% block footer %}
    {% include "limited-partners/partials/footer.njk" %}
{% endblock %}

{% block bodyEnd %}
    {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
    <script type="module">
      import { initAll } from '{{assetPath}}/javascripts/govuk-frontend/v5.10.2/govuk-frontend-5.10.2.min.js';
      initAll();
    </script>
{% endblock %}
