{% block head %}
    <style>
        .govuk-link:visited {
            color: #1d70b8 !important; /* Keep links blue */
        }
        .govuk-link:hover {
            color: #4c2c92 !important; /* Changes links purple */
        }
    </style>
{% endblock %}

{% if userEmail %}
    {% set email = userEmail | default("Not signed in") %}
    {% set signoutURL = signoutURL | default("/confirmation-statement/signout") %}
    <div style="display: flex; justify-content: flex-end; margin-top: 1rem;">
        <ul id="navigation" style="display: flex; gap: 1rem; list-style: none; margin: 0; padding: 0;">
            <li id="signed-in-user" style="font-family: 'GDS Transport', Arial, Helvetica, sans-serif">{{email}}</li>
            <li>
                <a class="govuk-link" href="{{signoutURL}}">{{i18n.HEADSignOut}}</a>
            </li>
        </ul>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{% endif %}
