{% extends "layout.html" %}

{% block pageTitle %}
  {% if isLimitedPartnership %}
    {{ i18n.SCSTitle }}
  {% elseif confirmationStatementError or lawfulActivityStatementError %}
    Error:
  {% endif %}
  Submit the confirmation statement
{% endblock %}

{% block head %}
  {% if isLimitedPartnership %}
    {% include "./limited-partners/partials/meta_header.njk" %}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block header %}
  {% if isLimitedPartnership %}
    {% include "./limited-partners/partials/header.njk" %}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {% if isLimitedPartnership %}
    {# Custom LP content here #}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block footer %}
  {% if isLimitedPartnership %}
    {% include "./limited-partners/partials/footer.njk" %}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block content %}
  {% if isLimitedPartnership %}
    {% include "./limited-partners/partials/lp-review.njk"%}
  {% else %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Submit the confirmation statement</h1>

        <h2 class="govuk-heading-m">
      Company name: {{company.companyName}}<br>
      Company number: {{company.companyNumber}}<br>
      Confirmation statement date: {{nextMadeUpToDate}}</h2>
        <form action="" method="post">
          {% include "includes/csrf_token.html" %}
          {% if ecctEnabled %}
            {% if confirmationStatementError or lawfulActivityStatementError %}

              {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
            {
              text: confirmationStatementError,
              href: "#confirmation-statement"
            },
            {
              text: lawfulActivityStatementError,
              href: "#lawful-activity-statement"
            }
          ]
          }) }}

              {% if confirmationStatementError %}
                {% set confirmationStatementErrorMessage = { text: confirmationStatementError } %}
               {% else %}
                {% set confirmationStatementError = false %}
              {% endif %}

              {% if lawfulActivityStatementError %}
                {% set lawfulActivityStatementErrorMessage = { text: lawfulActivityStatementError } %}
              {% else %}
                {% set lawfulActivityStatementError = false %}
              {% endif %}

            {% endif %}

            <p>
              {{ govukCheckboxes({
            idPrefix: "confirmation-statement",
            name: "confirmationStatement",
            errorMessage: confirmationStatementErrorMessage,
            fieldset: {
              legend: {
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                html: "I confirm that all information required to be delivered by the company pursuant to " +
                "<a href=" + "https://www.legislation.gov.uk/ukpga/2006/46/section/853A data-event-id=section-831A(1)-information-link>section 853A(1)(a) of the Companies Act 2006</a>" +
                " in relation to the confirmation period ending " +
                "<strong>" + nextMadeUpToDate + "</strong>" + " either has been delivered or is being delivered with this statement.",
                id: "confirmation-statement",
                value: "true",
                attributes: {
                  "data-event-id": "confirmation-statement-checkbox-clicked"
                }
              }
            ]
          }) }}
            </p>
            <p>
              {{ govukCheckboxes({
            idPrefix: "lawful-activity-statement",
            name: "lawfulActivityStatement",
            errorMessage: lawfulActivityStatementErrorMessage,
            fieldset: {
              legend: {
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                html: "I confirm that the intended future activities of the company are lawful.",
                id: "lawful-activity-statement",
                value: "true",
                attributes: {
                  "data-event-id": "lawful-activity-statement-checkbox-clicked"
                }
              }
            ]
          }) }}
            </p>

          {% else %}

            <p>By continuing, you confirm that all information required to be delivered by the company pursuant to
          <a href="https://www.legislation.gov.uk/ukpga/2006/46/section/853A" data-event-id="section-831A(1)-information-link">section 853A(1)(a) of the Companies Act 2006</a>
          in relation to the confirmation period ending
          <strong>{{nextMadeUpToDate}}</strong>
          either has been delivered or is being delivered with this statement.
        </p>

          {% endif %}

          {% if isPaymentDue %}
            <p>You will need to pay a fee of &pound;34 to submit your confirmation statement.</p>
          {% endif %}

          {% if isPaymentDue %}
            {{ govukButton({
          text: "Confirm and pay",
          attributes: {
            id: "confirm-and-pay",
            "data-event-id": "confirm-and-pay-button",
            "onclick": "_paq.push(['trackGoal', 4])"
          }
        }) }}
          {% else %}
            {{ govukButton({
          text: "Confirm and submit",
          attributes: {
            id: "confirm-and-submit",
            "data-event-id": "confirm-and-submit-button",
            "onclick": "_paq.push(['trackGoal', 5])"
          }
        }) }}
          {% endif %}

        </form>
      </div>
    </div>
  {% endif %}
{% endblock %}