{% extends "layout.html" %}

{% set showChecked %}
    <strong class="govuk-tag app-task-list__tag" id="statusIdPlaceholder">Checked</strong>
{% endset %}
{% set showInProgress %}
    <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="statusIdPlaceholder">Ready to continue</strong>
{% endset %}
{% set showNotChecked %}
    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="statusIdPlaceholder">Not checked</strong>
{% endset %}

{% block pageTitle %}
    Task list
{% endblock %}

{% block backLink %}
    {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            File a confirmation statement
        </h1>
        <p>Check and confirm that the company information we have on record is correct as of
            {{ taskList.recordDate }}.
        </p>
        <p class="govuk-body govuk-!-margin-bottom-7">
            You have checked {{ taskList.tasksCompletedCount }} of {{ taskList.tasksExpectedCount }} sections
        </p>
        <ol class="app-task-list">
            <li>
                {% include "includes/task-list/nature-of-business.html" %}
            </li>
            <li>
                {% include "includes/task-list/people.html" %}
            </li>
            <li>
                {% include "includes/task-list/addresses.html" %}
            </li>
            <li>
                {% include "includes/task-list/confirm-and-submit.html" %}
            </li>
        </ol>
    </div>
</div>
{% endblock %}
