{% extends "layout.html" %}

{% block pageTitle %}
  You cannot use this service - Company Details
{% endblock %}
{% block signOut %}{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        You cannot use this service
      </h1>

      <p>You cannot file a confirmation statement for {{ company.companyName }} on this service for one of the following reasons. The company:</p>
      <ul class="govuk-list govuk-list--bullet">
        {% if FEATURE_FLAG_FIVE_OR_LESS_OFFICERS_JOURNEY_21102021 === "true" %}
          <li>is not a private limited company</li>
          <li>has more than one shareholder</li>
          <li>does not have between 1 and 5 officers</li>
          <li>has more than 5 people with significant control (PSC)</li>
          <li>has traded shares on a market</li>
        {% else %}
          <li>is not a private limited company</li>
          <li>has more than one officer</li>
          <li>has a company secretary</li>
          <li>has more than one shareholder</li>
          <li>has more than one person with significant control</li>
          <li>has traded shares on a market</li>
        {% endif %}
      </ul>

      <p>You will need to use
        <a href="{{EWF_URL}}">our Webfiling service</a> to file a confirmation statement for this company.
        <p>
            <a href="https://www.smartsurvey.co.uk/s/fileconfstmnt-mvpdoesntsupport/">What did you think of this service?</a>
            (takes 2 minutes)</p>
      </div>
    </div>
{% endblock %}
