{% extends "../../layouts/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set errors = pageProperties.errors %}

{% set title = i18n.SICCSPageTitle %}

{% set summaryDetail %}
  <p class="govuk-body">{{ i18n.SICCSWhatIsDetailExpanderParagraph1 }}</p>
  <p class="govuk-body">{{ i18n.SICCSWhatIsDetailExpanderParagraph2 }}</p>
  <p class="govuk-body">{{ i18n.SICCSWhatIsDetailExpanderParagraph3 }}</p>
  <p class="govuk-body">
    {{ i18n.SICCSWhatIsDetailExpanderParagraph4Start }}
    <a class="govuk-link" href="https://resources.companieshouse.gov.uk/sic/" target="_blank">
      {{ i18n.SICCSWhatIsDetailExpanderParagraph4Link }}
    </a>
    {{ i18n.SICCSWhatIsDetailExpanderParagraph4End }}
  </p>
{% endset %}

{% block content %}
  <style>
    button.govuk-link {
      background: none;
      border: none;
      padding: 0;
      font: inherit;
      color: #1d70b8;
      text-decoration: underline;
      cursor: pointer;
    }
    .autocomplete__menu {
      z-index: 1000;
      position: absolute;
    }
  </style>
    <div class="govuk-grid-row">
        <div class="govuk-width-container">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">
                    <span class="govuk-caption-l">{{company.companyName}} ({{company.companyNumber}})</span>
                    {{ i18n.SICCSPageTitle }}
                </h1>

                <p class="govuk-body">
                    {{ i18n.SICCSTableHeader }}
                </p>    

                <div class="govuk-summary-list" role="list">
                    {% for sic in sicCodes %}
                        <div class="govuk-summary-list__row">
                        <div class="govuk-summary-list__key">{{ sic.sicCode.code }}</div>
                        <div class="govuk-summary-list__value">{{ sic.sicCode.description }}</div>
                        <div class="govuk-summary-list__actions">
                            <form action="{{ sic.removeUrl }}" method="POST">
                            {% include "../../partials/csrf-token.njk" %}
                                <button type="submit" class="govuk-link">{{ i18n.SICCSTableRemoveButton }}</button>
                                {% if unsavedCodeList.length > 0 %}
                                  <input type="hidden" name="unsavedCodeList" id="unsavedCodeList" value={{ unsavedCodeList }} />
                                {% endif %}
                            </form>
                        </div>
                        </div>
                    {% endfor %}
                </div>
                
                {% if isShowingAddSection %}
                  <form action="{{ addUrl }}" method="POST">
                    {% include "../../partials/csrf-token.njk" %}
                    <div class="govuk-inset-text">
                        <div class="govuk-form-group govuk-!-margin-bottom-6">
                            <label class="govuk-label govuk-label--m" for="sic-code-input">
                              {{ i18n.SICCSAddSICInsetTitle }}
                            </label>
                            <div id="sic-hint" class="govuk-hint">
                              {{ i18n.SICCSAddSICInsetInstructions }}
                            </div>

                            <div id="sic-code-autocomplete"></div>
                            <input type="hidden" name="code" id="hidden-sic-code" />
                            {% if unsavedCodeList.length > 0 %}
                              <input type="hidden" name="unsavedCodeList" id="unsavedCodeList" value={{ unsavedCodeList }} />
                            {% endif %}
                        </div>    
                        {{ govukButton({
                          text: i18n.SICCSAddSICAddCodeButton,
                          classes: "govuk-button--secondary", 
                          attributes: {
                            id: "add-sic-code-button",
                            type: "submit",
                            disabled: "disabled"
                          }
                        }) }}
                    </div>
                  </form>
                {% endif %}

                {{ govukDetails({
                    summaryText: i18n.SICCSWhatIsDetailExpanderTitle,
                    html: summaryDetail
                }) }}

                <form action="{{ saveUrl }}" method="POST">
                {% include "../../partials/csrf-token.njk" %}
                    {{ govukButton({
                        id: 'continue',
                        text: i18n.SICCSSaveContinueButton,
                        type: "submit"
                    }) }}
                    {% if unsavedCodeList.length > 0 %}
                      <input type="hidden" name="unsavedCodeList" id="unsavedCodeList" value={{ unsavedCodeList }} />
                    {% endif %}
                </form>    
            </div>
        </div>
    </div>

<script>
  window.searchSicCodes = {{ searchSicCodes | dump | safe }};
</script>
<link rel="stylesheet" href="{{assetPath}}/stylesheets/accessible-autocomplete/autocomplete.min.css" />
<script type="text/javascript" src="{{assetPath}}/javascripts/app/accessible-autocomplete.min.js"></script>
{% include "../../../includes/scripts/lp.sic.code.autocomplete.js" %}
{% endblock %}