<h2 class="app-task-list__section">
    Nature of business
</h2>
<ul class="app-task-list__items">
    <li class="app-task-list__item">
        <span class="app-task-list__task-name">
            <a href="{{taskList.tasks.sicCodes.url}}" data-event-id="sic-code-company-information-section">
                SIC codes
            </a>
        </span>
        {% if taskList.tasks.sicCodes.state === "CHECKED" %}
            {{ showChecked | safe | replace("statusIdPlaceholder", "sicStatus")}}
        {% elseif taskList.tasks.sicCodes.state === "IN_PROGRESS" %}
            {{ showInProgress | safe | replace("statusIdPlaceholder", "sicStatus")}}
        {% else %}
            {{ showNotChecked | safe | replace("statusIdPlaceholder", "sicStatus")}}
        {% endif %}
    </li>
    <li class="app-task-list__item">
        <span class="app-task-list__task-name">
            <a href="{{taskList.tasks.statementOfCapital.url}}" data-event-id="statement-of-capital-company-information-section">
                Statement of capital
            </a>
        </span>
        {% if taskList.tasks.statementOfCapital.state === "CHECKED" %}
            {{ showChecked | safe | replace("statusIdPlaceholder", "socStatus")}}
        {% elseif taskList.tasks.statementOfCapital.state === "IN_PROGRESS" %}
            {{ showInProgress | safe | replace("statusIdPlaceholder", "socStatus")}}
        {% else %}
            {{ showNotChecked | safe | replace("statusIdPlaceholder", "socStatus")}}
        {% endif %}
    </li>
</ul>
