{% for psc in pscList %}
  {% if psc.pscTemplateType === "rle" %}
    <h2 class="govuk-heading-m">1 relevant legal entity</h2>
  {% elif psc.pscTemplateType === "orp" %}
    <h2 class="govuk-heading-m">1 other registrable person</h2>
  {% endif%}
  <div class="govuk-summary-card govuk-!-margin-bottom-4">
    <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-3" style="display: flex; justify-content: space-between; align-items: center">
      <p class="govuk-!-font-weight-bold govuk-!-margin-0">{{ psc.formattedPsc.nameElements.surname }}</p>
        {{govukTag({
          text: "Active",
          classes: "govuk-tag--green"
        })}}
      </div>
      <div style="display: flex; border-bottom: 0" class="govuk-!-padding-1">
        <dl style="display: block" class="govuk-summary-list govuk-!-margin-3">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Notification date</dt>
            <dd class="govuk-summary-list__value">
              <p>{{ psc.dateOfAppointment }}</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Correspondence address</dt>
            <dd class="govuk-summary-list__value">
              <p>{{ psc.serviceAddress }}</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Legal form</dt>
            <dd class="govuk-summary-list__value">
              <p>{{ psc.formattedPsc.legalForm }}</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Law governed</dt>
            <dd class="govuk-summary-list__value">
              <p>{{ psc.formattedPsc.lawGoverned }}</p>
            </dd>
          </div>
          {% if psc.formattedPsc.registerLocation and psc.formattedPsc.countryOfResidence and psc.formattedPsc.registrationNumber %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Place registered</dt>
              <dd class="govuk-summary-list__value">
                <p>{{ psc.formattedPsc.registerLocation }}</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Incorporated in</dt>
              <dd class="govuk-summary-list__value">
                <p>{{ psc.formattedPsc.countryOfResidence }}</p>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Registration number</dt>
              <dd class="govuk-summary-list__value">
                <p>{{ psc.formattedPsc.registrationNumber }}</p>
              </dd>
            </div>
          {% endif %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Nature of control</dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-bullet__list">
                {% for noc in psc.formattedPsc.naturesOfControl %}
                  <li>
                    <p>{{ noc }}</p>
                  </li>
                {% endfor %}
              </ul>
            </dd>
            </div>
        </dl>
      </div>
  </div>
{% endfor %}
