{% extends "layout.html" %}

{% block pageTitle %}
{% if errorList.length > 0 %}
  Error:
{% endif %}  Review the officers
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <form action="" method="post">
        {% include "includes/csrf_token.html" %}
        {% if officerErrorMsg %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: officerErrorMsg,
                href: "#active-officers"
            }
          ]
          }) }}
          {% set activeOfficersError = {
            text: officerErrorMsg
          }
          %}
        {% else %}
          {% set activeOfficersError = false %}
        {% endif %}
        <h1 class="govuk-heading-l">Check the director's details</h1>
        <h2 class="govuk-heading-m">1 Director</h2>
        {% set directorHTML %}
          {% include "includes/directors.html" %}
        {% endset %}
        {{ govukTable({
          rows: [
            [
              {
                html: directorHTML
              }
            ]
          ]
        }) }}
        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "active-officers",
          name: "activeOfficers",
          errorMessage: activeOfficersError,
          fieldset: {
            legend: {
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l",
              html: "Are the director details correct?"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              label: "active-officer Yes",
              attributes: {
                "data-event-id": "yes-radio-button"
              }
            },
            {
              value: "no",
              text: "No",
              label: "active-officer No",
              attributes: {
                "data-event-id": "no-radio-button"
              }
            },
            {
              value: "recently_filed",
              text: "No, but an update has been submitted",
              label: "active-officer No, but an update has been submitted",
              attributes: {
                "data-event-id": "recently-filed-radio-button"
              }
            }
          ]
        }) }}

        {% include "includes/continue-button.html" %}

      </form>
    </div>
  </div>
{% endblock %}
