{% extends "layout.html" %}

{% block pageTitle %}
  Check registered email address
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="" method="post">
      {% include "includes/csrf_token.html" %}
      {% if checkEmailErrorMsg %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: [
                  {
                    text: checkEmailErrorMsg,
                    href: "#check-email-address"
                  }
                ]
              }) }}
            {% set checkEmailErrorMsg = {
                text: checkEmailErrorMsg
              } %}
            {% else %}
              {% set checkEmailErrorMsg = false %}
            {% endif %}

      <h1 class="govuk-heading-l">Check registered email address</h1>

      <p>{{registeredEmailAddress}}</p>

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "check-email-address",
        name: "checkEmailAddress",
        errorMessage: checkEmailErrorMsg,
        fieldset: {
          legend: {
            html: "Is the registered email address correct?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            attributes: {
              "data-event-id": "check-email-yes-radio-button"
            }
          },
          {
            value: "no",
            text: "No",
            attributes: {
              "data-event-id": "check-email-no-radio-button"
            }
          },
          {
            value: "recently_filed",
            text: "No, but an update has been submitted",
            attributes: {
              "data-event-id": "check-email-recently-filed-radio-button"
            }
          }
        ]
      }) }}

      {% include "includes/continue-button.html" %}

    </form>
  </div>
</div>
{% endblock %}
