{% extends "layout.html" %}

{% block pageTitle %}
  Confirm the email address
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-column">
    <form action="" method="post">
      {% include "includes/csrf_token.html" %}
      <h1 class="govuk-heading-l">Check the email address</h1>
        <dl>
          <dt class="govuk-summary-list__key">Email address</dt>
          <dd class="govuk-summary-list__value"> {{ confirmEmailAddress }} </dd>
          <dd class="govuk-summary-list__value govuk-!-padding-left-3"><a href="{{backLinkUrl}}" data-event-id="change-link">Change</a></dd>
        </dl>
      <br>
      <br>
      {% include "includes/continue-button.html" %}
    </form>
</div>
{% endblock %}
