{% extends "layout.html" %}

{% block pageTitle %}
  Registered email address
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="" method="post">
      {% include "includes/csrf_token.html" %}
      {% if emailErrorMsg %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: [
                  {
                    text: emailErrorMsg,
                    href: "#registered-office-address"
                  }
                ]
              }) }}
            {% set emailErrorMsg = {
                text: emailErrorMsg
              } %}
            {% else %}
              {% set emailErrorMsg = false %}
            {% endif %}

      <h1 class="govuk-heading-l">Registered email address</h1>

      <p>There is a new legal requirement to provide an email address that Companies House can use to contact the company or someone acting on its behalf.</p>
      <p>In future we will start using it to send important information that relates to your company, for example filing reminders or warnings about missed deadlines.</p>
      <p class="govuk-!-padding-bottom-6">It will not be shown on the public register.</p>

      <h1 class="govuk-heading-m">What is the registered email address?</h1>

      {{
        govukInput({
          errorMessage: emailErrorMsg,
          classes: "govuk-input",
          id: "registered-email-address",
          name: "registeredEmailAddress",
          value: data.registeredEmailAddress,
          attributes: {
            "data-event-id": "provide-email-address-input"
          }
        })
      }}

      {% include "includes/continue-button.html" %}

    </form>
  </div>
</div>
{% endblock %}
