{% extends "layout.html" %}

{% block pageTitle %}
  Incorrect registered office address - File a confirmation statement
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="" method="post">
      {% include "includes/csrf_token.html" %}
      {% include "includes/error-alert-message.html" %}
      {% if errorMsgText %}
          {% set roErrorMsg = {
            text: errorMsgText
          } %}
      {% else %}
        {% set roErrorMsg = false %}
      {% endif %}

      <h1 class="govuk-heading-l">
        You need to update the company details
      </h1>
      <p>You will need to
        <a href="{{ changeRoaUrl }}" target="_blank" rel="noopener noreferrer" data-event-id="update-roa-link">update the registered office address (opens in a new tab)</a>
        before you can file a confirmation statement.
      </p>

      <p>Return to this window after you have made the update.</p>

      {{ govukRadios({
        idPrefix: "radioButton",
        name: "radioButton",
        errorMessage: roErrorMsg,
        fieldset: {
          legend: {
            text: "Have you updated the registered office address?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            attributes: {
              "data-event-id": "wrong-roa-yes-radio-button"
            }
          },
          {
            value: "no",
            text: "No, I do not need to update the registered office address",
            attributes: {
              "data-event-id": "wrong-roa-no-radio-button"
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Return to confirmation statement",
        attributes: {
          "data-event-id": "return-to-confirmation-statement-button",
          "id": "submit"
        }
      }) }}

    <p><a href="https://www.smartsurvey.co.uk/s/fileconfstmnt-wrongro/">What did you think of this service?</a>
        (takes 2 minutes)</p>

  </div>
</div>

{% endblock %}
