{% extends "layout.html" %}

{% block pageTitle %}
  Update officers - File a confirmation statement
{% endblock %}

{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        {% include "includes/csrf_token.html" %}
        {% include "includes/error-alert-message.html" %}
        {% if errorMsgText %}
          {% set officersErrorMsg = {
            text: errorMsgText
          } %}
        {% else %}
          {% set officersErrorMsg = false %}
        {% endif %}

        <h1 class="govuk-heading-l">
          You need to update the company details
        </h1>
        <p>You will need to update the officer details on our 
          <a href="{{EWF_URL}}" data-event-id="webfiling-link" target="_blank" rel="noopener noreferrer">WebFiling service (opens in a new tab)</a>
          before you can file a confirmation statement.</p>
        
        <p>Return to this window after you have made the update.</p>

        {{ govukRadios({
          idPrefix: "radioButton",
          name: "radioButton",
          errorMessage: officersErrorMsg,
          fieldset: {
            legend: {
              text: "Have you updated the officer details?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              attributes: {
                "data-event-id": "wrong-officer-details-yes-radio-button"
              }
            },
            {
              value: "no",
              text: "No, I do not need to update the officer details",
              attributes: {
                "data-event-id": "wrong-officer-details-no-radio-button"
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Return to confirmation statement",
          attributes: {
            "data-event-id": "return-to-task-list-button",
            "id": "submit"
          }
        }) }}

    <p><a href="https://www.smartsurvey.co.uk/s/fileconfstmnt-wrongactivepsc/">What did you think of this service?</a>
      (takes 2 minutes)
    </p>

    </div>
  </div>
{% endblock %}
