{% extends "layout.html" %}

{% block pageTitle %}
  Incorrect SIC
{% endblock %}
{% block backLink %}
  {% include "includes/back-link.html" %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        {% include "includes/csrf_token.html" %}
        <h1 class="govuk-heading-xl">
          You cannot use this service
        </h1>
        <p>You must update this information by filing a confirmation statement through our 
          <a target="_blank" rel="noopener noreferrer" href="{{EWF_URL}}" data-event-id="webfiling-service-link">WebFiling service (opens in a new tab)</a>. You will need to sign in to or create a WebFiling account to do this.
        </p>
        <p>
            <a href="https://www.smartsurvey.co.uk/s/fileconfstmnt-wrongsiccode/">What did you think of this service?</a>
            (takes 2 minutes)</p>
      </form>
    </div>
  </div>
{% endblock %}