{% extends "../../layouts/layout.njk" %}
{% set title = i18n.needToBeAddedToAuthorisedAgentAccountHeading %}
{% block content %}
    <h1 class="govuk-heading-l">{{ i18n.needToBeAddedToAuthorisedAgentAccountHeading }}</h1>
    <p class="govuk-body">{{ i18n.needToAskToBeAdded }}</p>
    <p class="govuk-body">
        {{ i18n.applyAsAnAuthorisedAgent }}
        <a href={{ applyAsACSPLink }}>{{ i18n.applyAsAnAuthorisedAgentLink }}</a>.
    </p>
{% endblock content %}